.mobile-web {
  padding-bottom: 90px;
  padding-top: 90px;
  @media (max-width: 560px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .mobile-web__container {
    display: flex;
    justify-content: center;
    gap: 92px;
    align-items: center;

    @media (max-width: 768px) {
      gap: 32px;
    }
    @media (max-width: 560px) {
      flex-direction: column-reverse;
    }

    .mobile-web__left-cl {
      max-width: 226px;
    }
  }
  .mobile-web__right-cl {
    flex: 0 1 50%;

    .mobile-web__title {
      text-align: center;

      margin-top: 24px;
    }
  }

  .mobile-web__text-box {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 560px) {
      margin-top: 24px;
    }
  }
}
