.btn-link {
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: var(--color-light);
  background: transparent;
  display: inline-block;
  border-radius: 32px;
  padding: 12px 40px;
  font-size: 14px;
  width: fit-content;
}

.btn-link--primary {
  background: var(--gradient);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 196, 204, 0.3);
  }
}

.btn-link--secondary {
  color: var(--page-text-color);
  transition: all 0.2s ease;
  border: 1px solid #00cbb9;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 196, 204, 0.3);
  }
}

.btn--login {
  display: flex;
  gap: 12px;

  @media (max-width: 480px) {
    padding: 8px 20px;
  }
}
