.title-h1 {
  color: var(--color-title);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 46px;
  line-height: 1.2;
  width: 90%;
  @media (max-width: 876px) {
    width: 100%;
  }
  @media (max-width: 565px) {
    font-size: 38px;
  }
}

.title-h2 {
  font-size: 28px;
  color: var(--color-title);
  text-transform: uppercase;
  font-weight: 500;

  @media (max-width: 565px) {
    font-size: 20px;
  }
}
.title-h3 {
  font-size: 18px;
  color: var(--color-title);
  font-weight: 500;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.text {
  color: var(--page-text-color);
  font-size: 14px;
  line-height: 1.5;
}
.text--logo {
  font-weight: 600;
}