.avatar {
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  height: 64px;
  width: 64px;

  .avatar__arrow {
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.3s linear;
    right: calc(0% - 24px);
    position: absolute;
    top: 50%;

    &.avatar__arrow--active {
      transform: translateY(-50%) rotate(-180deg);
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke: #00c853;
      }
    }
  }

  .avatar__user {
    color: var(--color-white-text);
    background-color: #00c853;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    height: 100%;
    width: 100%;

    &:hover {
      box-shadow: 0px 2px 4px #4caf50;
      background-color: #4caf50;
    }
  }

  .avatar__settings {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s linear;
    background: var(--gradient);
    right: calc(100% + 16px);
    border-radius: 8px;
    position: absolute;
    padding: 24px;
    width: 280px;
    z-index: -1;
    opacity: 0;
    top: 30%;

    &.avatar__settings--active {
      z-index: 10;
      opacity: 1;
      top: 50%;
    }

    .avatar__list {
      flex-direction: column;
      font-size: 14px;
      display: flex;
      gap: 12px;

      .avatar__item {
        transition: all 0.3s ease;
        align-items: center;
        position: relative;
        display: flex;
        gap: 8px;

        &:hover {
          color: #ffab00;
        }

        svg {
          height: 16px;
          width: 16px;

          path {
            stroke: #ffffff;
          }
        }

        .avatar__level {
          color: var(--color-white-text);
          border: 1px solid #ffab00;
          border-radius: 32px;
          margin-bottom: 16px;
          padding: 4px 12px;
          font-size: 10px;
          width: 100%;
        }
      }
    }
  }
}
