.footer {
  color: var(--color-white);

  .footer__top-bar {
    background-color: var(--color-main-footer);
    padding: 60px 0 30px;

    @media (min-width: 768px) {
      padding: 60px 0;
    }

    .footer__container {
      flex-direction: column;
      text-align: center;
      display: flex;
      gap: 32px;

      @media (min-width: 768px) {
        text-align: left;
      }

      @media (min-width: 560px) {
        justify-content: space-between;
        flex-direction: row;
      }

      .footer__content {
        .footer__contacts{
          flex-direction: column;
          display: flex;
          gap: 12px;
        }
        .footer__list {
          flex-direction: column;
          font-weight: 300;
          font-size: 14px;
          display: flex;
          gap: 4px;
        }
      }
    }
  }
  .footer__bottom-bar {
    background-color: var(--color-main-footer);
    padding: 20px 0;

    @media (min-width: 768px) {
      background-color: var(--color-black);
    }

    .footer__container {
      flex-direction: column-reverse;
      text-align: center;
      display: flex;
      gap: 30px;

      @media (min-width: 768px) {
        justify-content: space-between;
        flex-direction: row;
      }

      .footer__copy {
        font-size: 12px;
      }

      .footer__social-list {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 24px;

        .footer__social-list-item {
          .footer__social-list__link {
            svg {
              height: 20px;
              width: 20px;

              path {
                fill: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
}
