.header {
  padding: 24px 0px;
  .header__container {
    justify-content: space-between;
    align-items: center;
    display: flex;

    .header__content {
      display: none;

      @media (min-width: 768px) {
        align-items: center;
        display: flex;
        gap: 60px;
      }
    }

    .header__burger {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
