.logo {
  font-size: clamp(2.5rem, 2.103rem + 1.98vw, 3.75rem);
  font-family: 'Space Grotesk', sans-serif;
  color: var(--page-text-color);
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  line-height: 1;

  .logo__accent-letter {
    font-size: calc(clamp(2.5rem, 2.103rem + 1.98vw, 3.75rem) * 1.15);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background: var(--gradient);
    background-clip: text;
  }

  &:hover {
    text-shadow: 0 4px 8px rgba(0, 196, 204, 0.8);
  }
}
