.menu {
  .menu__list {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 40px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
    .menu__item {
      &.menu__item--bold {
        a {
          font-weight: 600;
        }
      }

      .menu__link {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        align-items: center;
        display: flex;
        gap: 8px;
  
        svg {
          height: 20px;
          width: 20px;
  
          path {
            stroke: var(--color-accent);
          }
        }

        &::before {
          background: var(--color-accent);
          transition: all 0.3s ease;
          position: absolute;
          border-radius: 4px;
          display: block;
          bottom: -6px;
          content: '';
          height: 2px;
          width: 0%;
          left: 0;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }

        @media (min-width: 768px) {
          font-weight: 300;
          font-size: 14px;
        }
        @media (min-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }
}
